.bgContainer1,
.bgContainer2,
.sbgContainer3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}

.bgContainer1 {
  background-image: linear-gradient(to top, #001E23, rgba(255, 0, 0, 0)), url("../../../public/images/indoBg1.jpg");
}

.bgContainer2 {
  background-image: linear-gradient(to top, #001E23, rgba(255, 0, 0, 0)), url("../../../public/images/thaiBg.png");
}

.bgContainer3 {
  background-image: linear-gradient(to top, #001E23, rgba(255, 0, 0, 0)), url("../../../public/images/nepalBg1.jpg");
}