@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.verticalText {
  writing-mode: vertical-rl;
  rotate: 180deg;
  text-orientation: mixed;
}

.bgContainer1,
.bgContainer2,
.sbgContainer3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}

.bgContainer1 {
  background-image: linear-gradient(to top, #001E23, rgba(255, 0, 0, 0)), url("/images/indoBg1.jpg");
}

.bgContainer2 {
  background-image: linear-gradient(to top, #001E23, rgba(255, 0, 0, 0)), url("/images/thaiBg.png");
}

.bgContainer3 {
  background-image: linear-gradient(to top, #001E23, rgba(255, 0, 0, 0)), url("/images/nepalBg1.jpg");
}

.bgContainer4 {
  background-image: linear-gradient(to bottom, #001E23, rgba(255, 0, 0, 0)), linear-gradient(to top, #001E23, rgba(255, 0, 0, 0)), url("/images/thaiBg.png");
}