.country::after {
  content: attr(data-country);
  display: flex;
  margin-top: -37px;
  line-height: 100px;
  transform: rotateX(180deg);
  background-image: linear-gradient(180deg,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 0.5));
  -webkit-background-clip: text;
  color: transparent;
}

@media screen and (min-width: 768px) {
  .country::after {
    margin-top: -20px;
    background-image: linear-gradient(180deg,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.5));
  }
}