.swiper {
  width: 300px !important;
  height: 400px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  transform: scale(0.8) !important;
  opacity: 0.8;
  width: 300px !important;
}

.swiper-slide img {
  width: 300px !important;
  height: 400px !important;
}

.swiper .swiper-slide-active img {
  width: 300px;
}

.swiper-slide-active {
  transform: scale(1) !important;
  width: 300px !important;
  opacity: 1;
  box-shadow: 0px 0px 20px 1px #2c2b2b;
}

.text {
  position: absolute;
  left: 20%;
  z-index: 100;
  color: white;
}

.swiper-slide.swiper-slide-prev,
.swiper-slide.swiper-slide-next {
  z-index: -1;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  background: #4A8087;
  opacity: .8 !important;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  padding: 2px !important;
  cursor: pointer !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: white !important;
}



@media screen and (min-width: 768px) {
  .swiper {
    width: 400px !important;
    height: 500px;
  }

  .swiper-slide {
    width: 400px !important;
  }

  .swiper-slide img {
    width: 400px !important;
    height: 500px !important;
  }

  .swiper .swiper-slide-active img {
    width: 350px;
  }

  .swiper-slide-active {
    width: 350px !important;
  }

  .text {
    left: 30%;
  }
}

@media screen and (min-width: 1280px) {
  .swiper {
    width: 500px !important;
    height: 600px;
    padding-left: 25px !important;
  }

  .swiper-slide {
    width: 500px !important;
  }

  .swiper-slide img {
    width: 500px !important;
    height: 600px !important;
  }

  .swiper .swiper-slide-active img {
    width: 400px;
  }

  .swiper-slide-active {
    width: 400px !important;
  }

  .text {
    left: 32%;
  }
}